@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  cursor: pointer;
}

.menu li:hover > .submenu {
  display: block;
}

.menu .submenu {
  display: none;
}

.menu li:hover > .submenu {
  display: block;
}
